<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Swojeet Kayastha</a></h1>
            <p>Just an IT student<br />
            learning new things everyday :)</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://www.facebook.com/SwOjEeT" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/swojeet_kayastha9876543210/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/swojeet" class="icon fa-github"><span class="label">Github</span></a></li>
            </ul>
        </footer>
    </section>

